<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UriSeguridad" value="http://www.tramarsa.com.pe/Gromero/Services/Permisos.svc/" />
    <!--<add key="UriSeguridad" value="http://localhost:1217/SeguridadGRomero/Services/Permisos.svc/"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="StreamedRequestWebBinding" openTimeout="10:15:00" receiveTimeout="10:15:00" sendTimeout="10:15:00" bypassProxyOnLocal="true" hostNameComparisonMode="WeakWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint binding="webHttpBinding" bindingConfiguration="StreamedRequestWebBinding" contract="SeguridadGRomero.Services.IPermisos" name="PermisosService" kind="" endpointConfiguration="">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Csla" publicKeyToken="93be5fdc093e4c30" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.13.0" newVersion="4.3.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
