<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SeguridadSalt" value="$3gur1d@dC0rp0r@t1v@;*"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Csla" publicKeyToken="93be5fdc093e4c30" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.13.0" newVersion="4.3.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
