<?xml version="1.0" encoding="utf-8"?>

<!--
	Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>

	<configSections>
		<section name="eventosEnBD" type="ErickOrlando.Utilidades.Configuraciones.EventosEnBD, Gromero.Utilidades" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="CslaAuthentication" value="Csla" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="GR.Seguridad.Password" value="S3rv1c10sGR$1p@$$W0rD" />
		<!--<add key="dominioTramarsa" value="TRAMARSA" />
		<add key="acronimoAplicacion" value="TRACALWEB" />-->

	</appSettings>
	<connectionStrings>
		<!--<add name="GROMEROEntities"
				 connectionString="metadata=res://Gromero.Seguridad.Datos/Gromero.csdl|res://Gromero.Seguridad.Datos/Gromero.ssdl|res://Gromero.Seguridad.Datos/Gromero.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.72.20.33;Initial Catalog=GROMEROSeguridad;Uid=ComexSeguridad;Pwd=123456;&quot;"
				 providerName="System.Data.EntityClient" />
		<add name="ConexionBD"
				 connectionString="data source=10.72.20.33;initial catalog=GROMEROSeguridad;UId=ComexSeguridad;Pwd=123456;multipleactiveresultsets=True;App=COMEX"
				 providerName="System.Data.SqlClient"/>-->
		<add name="GROMEROEntities" connectionString="metadata=res://Gromero.Seguridad.Datos/Gromero.csdl|res://Gromero.Seguridad.Datos/Gromero.ssdl|res://Gromero.Seguridad.Datos/Gromero.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Seguridad;integrated security=true;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
		<add name="ConexionBD" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Seguridad;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.webServer>
		<!--<modules runAllManagedModulesForAllRequests="true">
			<add name="DomainServiceModule"
					 preCondition="managedHandler"
					 type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>-->
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.web>
		<membership defaultProvider="GromeroMembershipProvider">
			<providers>
				<add name="GromeroMembershipProvider" type="Gromero.Seguridad.Login.GromeroMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="Aplicación Corporativa de Seguridad ©" requiresUniqueEmail="false" passwordFormat="Clear" description="Guarda y obtiene datos de membresía usando Objetos de Negocio CSLA." />
			</providers>
		</membership>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<eventosEnBD xmlns="http://schemas.erickorlando.com/core" conexion="ConexionBD" grabarLog="true" nombreAplicacion="WCFSeguridad" />
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="BDListener" type="ErickOrlando.Utilidades.Trazas.BaseDatosTraceListener, Gromero.Utilidades" />
			</listeners>
		</trace>
	</system.diagnostics>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
		<services>
			<service behaviorConfiguration="restServiceBehavior" name="GR.COMEX.Seguridad.ServicioWCF.SeguridadGR">
				<endpoint address="soapSeguridad" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding" contract="GR.COMEX.Seguridad.ServicioWCF.ISeguridadGR" />
				<endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" bindingConfiguration="MulContractWebBinding" contract="GR.COMEX.Seguridad.ServicioWCF.ISeguridadGR" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/GRSeguridad/SeguridadGR.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<webHttpBinding>
				<binding name="MulContractWebBinding" />
			</webHttpBinding>
			<!--INI Nuevo-->
			<basicHttpBinding>
				<binding name="MulContractbasicBinding" />
			</basicHttpBinding>
			<!--FIN Nuevo-->
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="restPoxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="restServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="soapServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Csla" publicKeyToken="93be5fdc093e4c30" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.30.0" newVersion="4.5.30.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
