<?xml version="1.0"?>
<!--
	Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<section name="eventosEnBD"
						 type="ErickOrlando.Utilidades.Configuraciones.EventosEnBD, Gromero.Utilidades" />
	</configSections>
	<appSettings>
		<add key="CslaAuthentication"
				 value="Csla"/>
	</appSettings>
	<connectionStrings>
		<add name="GROMEROEntities"
				 connectionString="metadata=res://Gromero.Seguridad.Datos/Gromero.csdl|res://Gromero.Seguridad.Datos/Gromero.ssdl|res://Gromero.Seguridad.Datos/Gromero.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tramoldev01.tramarsa.com.pe;initial catalog=GROMERODev;uid=ComexSeguridad;pwd=123456;multipleactiveresultsets=True;App=EntityFramework&quot;"
				 providerName="System.Data.EntityClient"/>
		<add name="ConexionBD"
				 connectionString="data source=tramoldev01.tramarsa.com.pe;initial catalog=GROMERODev;UId=ComexSeguridad;Pwd=123456;multipleactiveresultsets=True;App=COMEX"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="Csla.Server.Hosts.WcfPortal"
							 behaviorConfiguration="returnFaults">
				<endpoint contract="Csla.Server.Hosts.IWcfPortal"
									binding="wsHttpBinding"
									bindingConfiguration="wsHttpBinding_IWcfPortal"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBinding_IWcfPortal"
								 maxReceivedMessageSize="2147483647">
					<readerQuotas maxBytesPerRead="2147483647"
												maxArrayLength="2147483647"
												maxStringContentLength="2147483647"
												maxNameTableCharCount="2147483647"
												maxDepth="2147483647"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="returnFaults">
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="system.serviceModel"
							switchValue="Information, ActivityTracing"
							propagateActivity="true">
				<listeners>
					<add name="BDListener"
							 type="ErickOrlando.Utilidades.Trazas.BaseDatosTraceListener, Gromero.Utilidades" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" />
	</system.diagnostics>
	<eventosEnBD xmlns="http://schemas.erickorlando.com/core"
							 conexion="ConexionBD"
							 grabarLog="true"
							 nombreAplicacion="WCFSeguridad" />
	<!--
		Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

		Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<compilation debug="false"
								 targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<customErrors mode="Off" />
		<httpRuntime maxRequestLength="2147483647"
								 targetFramework="4.5"/>
	</system.web>
</configuration>