<?xml version="1.0" encoding="utf-8"?>

<!--
	Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>

	<configSections>
		<section name="eventosEnBD"
						 type="ErickOrlando.Utilidades.Configuraciones.EventosEnBD, ErickOrlando.Utilidades.Configuraciones"/>
	</configSections>
	<appSettings>
		<add key="CslaAuthentication"
				 value="Csla"/>
		<add key="aspnet:UseTaskFriendlySynchronizationContext"
				 value="true" />
	</appSettings>
	<connectionStrings>
		<add name="GROMEROEntities"
				 connectionString="metadata=res://Gromero.Seguridad.Datos/Gromero.csdl|res://Gromero.Seguridad.Datos/Gromero.ssdl|res://Gromero.Seguridad.Datos/Gromero.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ranmolsql03.gruporansa.gromero.net;initial catalog=GROMERODev;UId=ComexUser;Pwd=123456;multipleactiveresultsets=True;App=EntityFramework&quot;"
				 providerName="System.Data.EntityClient" />
		<add name="ConexionBD"
				 connectionString="data source=ranmolsql03.gruporansa.gromero.net;initial catalog=GROMERODev;UId=ComexUser;Pwd=123456;multipleactiveresultsets=True;App=COMEX"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="DomainServiceModule"
					 preCondition="managedHandler"
					 type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.web>
		<membership defaultProvider="GromeroMembershipProvider">
			<providers>
				<add name="GromeroMembershipProvider"
						 type="Gromero.Seguridad.Login.GromeroMembershipProvider"
						 enablePasswordRetrieval="false"
						 enablePasswordReset="false"
						 requiresQuestionAndAnswer="false"
						 applicationName="Aplicación Corporativa de Seguridad ©"
						 requiresUniqueEmail="false"
						 passwordFormat="Clear"
						 description="Guarda y obtiene datos de membresía usando Objetos de Negocio CSLA."/>
			</providers>
		</membership>
		<httpModules>
			<add name="DomainServiceModule"
					 type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
		<compilation debug="true"
								 targetFramework="4.0" />
	</system.web>

	<eventosEnBD xmlns="http://schemas.erickorlando.com/core"
							 conexion="ConexionBD"
							 grabarLog="true"
							 nombreAplicacion="COMEXSeguridad" />
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="BDListener"
						 type="ErickOrlando.Utilidades.Trazas.BaseDatosTraceListener, ErickOrlando.Utilidades" />
			</listeners>
		</trace>
	</system.diagnostics>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="restServiceBehavior"
							 name="SeguridadGRomero.SeguridadGR">
				<clear />
				<endpoint address="soapSeguridad"
									binding="basicHttpBinding"
									bindingConfiguration="MulContractbasicBinding"
									contract="SeguridadGRomero.ISeguridadGR" />
				<endpoint address="Seguridad"
									behaviorConfiguration="restPoxBehavior"
									binding="webHttpBinding"
									bindingConfiguration="MulContractWebBinding"
									contract="SeguridadGRomero.ISeguridadGR" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8088/GRSeguridad/SeguridadGR.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<webHttpBinding>
				<binding name="MulContractWebBinding" />
			</webHttpBinding>
			<basicHttpBinding>
				<binding name="MulContractbasicBinding" />
			</basicHttpBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="restPoxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="restServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="soapServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"
													 httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>
