<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="eventosEnBD" type="ErickOrlando.Utilidades.Configuraciones.EventosEnBD, ErickOrlando.Utilidades"/>
	</configSections>
	<appSettings>
		<add key="SkinAplicacion" value="Money Twins"/>
		<add key="CslaAuthenticacion" value="Csla"/>
	</appSettings>

	<connectionStrings>
		<clear/>
		<add name="ErickOrlandoEntities" connectionString="metadata=res://ErickOrlando.Seguridad.Datos/ErickOrlando.csdl|res://ErickOrlando.Seguridad.Datos/ErickOrlando.ssdl|res://ErickOrlando.Seguridad.Datos/ErickOrlando.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.72.20.26;initial catalog=ErickOrlandoDev;persist security info=True;user id=ComexSeguridad;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="ConexionBD" connectionString="Data Source=10.72.20.26;Initial Catalog=ErickOrlandoDev;Uid=ComexSeguridad;Pwd=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

		<!--<add name="ErickOrlandoEntities" connectionString="metadata=res://ErickOrlando.Seguridad.Datos/ErickOrlando.csdl|res://ErickOrlando.Seguridad.Datos/ErickOrlando.ssdl|res://ErickOrlando.Seguridad.Datos/ErickOrlando.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.72.20.2;initial catalog=ErickOrlandoSeguridad;persist security info=True;user id=ComexSeguridad;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ConexionBD" connectionString="Data Source=10.72.20.2;Initial Catalog=ErickOrlandoSeguridad;Uid=ComexSeguridad;Pwd=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<system.diagnostics>
		<trace>
			<listeners>
				<add name="BDListener" type="ErickOrlando.Utilidades.Trazas.BaseDatosTraceListener, ErickOrlando.Utilidades"/>
			</listeners>
		</trace>
	</system.diagnostics>

	<eventosEnBD xmlns="http://schemas.erickorlando.com/core" conexion="ConexionBD" grabarLog="false" nombreAplicacion="LoginCorporativo"/>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

</configuration>
